<ion-view title="About 2B">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  	<div class="card">
  <div class="item item-divider">
    The Problem
  </div>
  <div class="item item-text-wrap">
	Every year, countless numbers of students fail various subjects in the WASSCE and have to do remedials. <br><br>
	Some study very hard but knowing without where their weak points are, their efforts often lead to failure.
  </div>
  <div class="item item-divider">
    The Solution
  </div>
  <div class="item item-text-wrap">
    Named after the standard pencil for the WASSCE exams, 2B is a personalized test prep guide to help you ace the WASSCE exams through topical practice, performance tracking, and simulated exam environments with real WASSCE questions. <br><br>
Now you can focus your energy on that subject/topic that is giving you trouble and know when you are adequately prepared.
  </div>
  <div class="item item-divider">
    Developers
  </div>
  <div class="item-text-wrap list">
    
    <a class="item item-icon-left" href="mailto:kpetermeni.siakor@ashesi.edu.gh">
      <i class="icon ion-ios7-navigate"></i>
      <h2>Kpetermeni Siakor</h2>
      <p>kpetermeni.siakor@ashesi.edu.gh</p>
    </a>
    <a class="item item-icon-left" href="mailto:senanu.fiam-coblavie@ashesi.edu.gh">
      <i class="icon ion-settings"></i>
      <h2>Senanu Fiam-Coblavie</h2>
      <p>senanu.fiam-coblavie@ashesi.edu.gh</p>
    </a>
    <a class="item item-icon-left" href="mailto:shamir.adjaku@ashesi.edu.gh">
      <i class="icon ion-pinpoint"></i>
      <h2>Shamir Adjaku</h2>
      <p>shamir.adjaku@ashesi.edu.gh</p>
    </a>
  </div>
</div>

    
  </ion-content>
</ion-view>

