<ion-view title="Dashboard">
    <ion-nav-buttons side="right">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <!--<progress max="100" value="50"></progress>-->
        <!--<div class="list">-->

            <a class="item item-thumbnail-left" href="#">
                <img src="img/user64.png">
                <h2>Progress Dashboard</h2>
                <!--<p>Nine Inch Nails</p>-->
            </a>
        <!--</div>-->
        <div class="list card">

        <div class="item ">
           <b>Courses (coming soon)</b>
        </div>

        <div class="item item-body">
           <div class="item-divider"> Social Studies</div>
            <meter min="0" max="100" low="60" high="100" optimum="80" value="5"></meter>
            <div class="item-divider">Core Mathematics</div>
            <meter min="0" max="100" low="60" high="100" optimum="80" value="90"></meter>
            <div class="item-divider">English Language</div>
            <meter min="0" max="100" low="60" high="100" optimum="80" value="77"></meter>
            <div class="item-divider">Integrated Science</div>
            <meter min="0" max="100" low="60" high="100" optimum="80" value="56"></meter>
            <div class="item-divider">Elective Mathematics</div>
            <meter min="0" max="100" low="60" high="100" optimum="80" value="22"></meter>
            <div class="item-divider">Physics</div>
            <meter min="0" max="100" low="60" high="100" optimum="80" value="87"></meter>
        </div>

        </div>
    </ion-content>
</ion-view>