<ion-view title="Practice ">
	<ion-content class="has-header question-slider">
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
  	<ion-slide ng-repeat="q in questions track by $index" class="question-slider">
    <div class="list card">
 	 <div class="item-header item-text-wrap padding-horizontal">
	    <h4>{{q.question}}</h4>
 	 	</div>
 	 		
			<ion-radio ng-model="ansChoice" ng-click="checkAns(q.id, $index+1, q.answer)" value="{{$index+1}}" name="{{q.id}}" ng-repeat="choice in q.choices" class="item-text-wrap choices" ng-disabled="showAns()">{{choice}}</ion-radio>		
 
			<!-- <tt>Question:{{$index+1}}</tt>
			<tt><div id="{{q._id}}" ng-show="!condition()">Wrong! Ans: {{q.choices[q.answer-1]}}</div><div id="{{q._id}}" ng-show="condition()">That is correct</div> </tt> -->
			
 </div>
  </ion-slide>
  <ion-slide class="results-slider">
	<div ng-hide="condition()">
    <div class="result-header padding">
	<h2>Your Score: {{numCorrect}}</h2>
  </div>
  	<div ng-repeat="r in questions track by $index" class="correct-answers padding">
  		<div class="correct-question padding">
      Question {{$index+1}}: {{r.question}}
  		</div>
      <div class="correct-answer padding">
  		Correct: <strong>{{r.choices[r.answer-1]}}</strong>
      </div>
  	</div>
  	</div>
    <div ng-click="viewResults()" class="button button-assertive button-full" ng-show="isHidden">View Results</div>
    <div ng-click="loadNew(questions[0].topic)" class="button button-assertive button-block padding-horizontal" ng-hide="isHidden">Next Batch</div>
  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>