<ion-view title="Subjects">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1>Subjects</h1>

        <div ng-init="index=0">
            <div ng-repeat="subject in subjects">
                <div class="row responsive-sm">
                    <div class="col"><div class="box">{{subject.subject}}</div> </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
