<ion-view title="Tips">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-divider">
        Study Tips (coming soon)
      </div>
      <a class="item" href="#">
        Using this app
      </a>
      <a class="item" href="#">
        Other resources
      </a>
      <a class="item" href="#">
        How to tackle essay questions
      </a>

      <div class="item item-divider">
        WASSCE Tips (coming soon)
      </div>
      <a class="item" href="#">
        How to prepare
      </a>
      <a class="item" href="#">
        Aggregate calculator
      </a>
      <a class="item" href="#">
        Exam day
      </a>

      <div class="item item-divider">
        WAEC Information (coming soon)
      </div>
      <a class="item" href="#">
        Contact Information
      </a>
      <a class="item" href="#">
        Programmes
      </a>
      <a class="item" href="#">
        News
      </a>
    </ion-list>
  </ion-content>
</ion-view>
