<ion-view title="Subjects">
    <ion-nav-buttons side="right">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header topics">
        <!--<h1>Subjects</h1>-->

        <div ng-init="index=0">
            <div ng-repeat="subject in subjectTopics">
                <div class="row responsive-sm">
                    <a class="item item-icon-right topic">
                        <div class="sizing" ng-click="selectedItems.setSubjectYear(subject.subject,$index)">
                            {{subject.subject}}
                            <i class="icon ion-ios7-arrow-right"></i>
                <span class="item-note">
                  {{numTopics($index)}} Topics : : 0% Mastery
                </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>