.box {
    background-color: #5677fc;
    height: 100px;
    text-align: center;
    font-size: 25px;
    color:#ffffff;
    padding: 30px;
}

a{
    text-decoration: none;
}/* Empty. Add your own CSS if you like */

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: #EEE;*/
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    /*border-radius: 3px;*/
    height: 10px;
    width: 95%;
    transition: width 1.5s;
}

meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #5acc0d;  /*Green */
    border-radius: 3px;
    
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #cc3208; /* Red */
    border-radius: 3px;
}

.uncheckedClass {
    background-color:#eeeeee;
    color:black;
}
 
.checkedClass {
    background-color:#3ab44a;
    color:white;
}

.question-slider{
    background: #03a9f4;
}

.choices input:checked ~ .item-content {
background: #03a9f4;
color:#fff;
}

.button.button-assertive {
border-color: #cc2311;
background-color: #e51c23;
color: #fff;
}

.balanced, a.balanced {
color: #00bcd4;
}

.bar.bar-positive {
border-color: #145fd7;
background-color: #3f51b5;
background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
color: #fff;
}

.item-note {
    float:none;
    color: #aaa;
    font-size: 14px;
    display: block;
    width: 95%;
    border-top: 1px dotted #eee;
}

.topic {
    /*border-color: #03a9f4;*/
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: 10px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.topics {
    background: url('../img/back2.jpg') no-repeat;
    /*background:#03a9f4;*/
}

.homes {
    background: url('../img/back.jpg') no-repeat;
}

.results-slider .result-header{
    background: #5677fc;
}

.results-slider .result-header h2{
    color: #fff;
}

.correct-answers {
    background: #03a9f4;
}

.correct-answers .correct-question{
    background:#fff;
    color:#5677fc;
}
.correct-answers .correct-answer{
    background:#fff;
    color:#5677fc;
}

.correct-answers .correct-answer strong {
    background:#fff;
    color: #3f51b5;
}

.topics .item-image{
    width:80%;
    margin: 0 auto;   
    border:none;
}

.topics .results-header{
    background: #5677fc;
}

.topics .results-header h3{
    color: #fff;
}

./*title-menu {
    margin-left: 20px;
    display: block;
}*/

.home {
    border-color: #03a9f4;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.home {
    padding: 20px;
    text-align: center;
}
.home a, a:active, a:visited{
    color:#145fd7;
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans";
}





body {
  
}
.intro-slider {
  height: 100%;
}
.intro-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.sizing {
    margin-bottom: 0px;
    font-weight: bold;
}

.sizing .item-note {
    font-weight: normal;
}

.home-logo {
    padding: 10px 20px;
    width:100%;
}

.home-logo img{
    float: left;
    margin-top: -15px;
}

.home-logo h2{
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color:#fff;
}