.box {
    background-color: dodgerblue;
    height: 100px;
    text-align: center;
    font-size: 25px;
    color:#ffffff;
    padding: 30px;
}

a{
    text-decoration: none;
<<<<<<< HEAD
}
=======
}/* Empty. Add your own CSS if you like */
>>>>>>> d82891dbf43f5132dbe9a026dfabf3352ede8426
